@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 248, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Animaciones */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-card {
  transition: all 0.3s ease;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Añade esto a tu archivo CSS global */
@layer components {
  .btn-drop {
    @apply relative bg-black text-white py-3 font-medium overflow-hidden transition-all duration-300 inline-block;
  }

  .btn-drop:before {
    content: "";
    @apply absolute bottom-0 right-0 w-2 h-2 bg-yellow-500 transition-all duration-500 ease-out;
    z-index: 1;
  }

  .btn-drop:hover:before {
    @apply w-full h-full transform origin-bottom-right;
  }

  .btn-drop span {
    @apply relative z-10 transition-colors duration-300;
  }

  .btn-drop:hover span {
    @apply text-black;
  }
  .btn-drop svg {
    @apply relative z-10 transition-colors duration-300;
  }

  .btn-drop:hover svg {
    @apply text-black;
  }
}
